<html>

<head>
	<title>Login to Tuiteh</title>
</head>

<body>
	
<form action="/login" method="POST">
	<input type="text", name="email", placeholder="Your Email">
	<input type="password", name="password", placeholder="Your Password">
	<button type="submit" name="loginbutton" value="login"> LOGIN </button>
</form>


</body>



</html>